.main-canvas-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#app {
    border: 1px solid red;
    min-height: 50vmin;
    min-width: 100vmin;
}

.progress-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: .5em;
}

.alert {
    background: red;
    color: whitesmoke;
}

.last-updated-element {
    margin: 2em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: .75rem;
}